{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ball Collector</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{%url 'about'%}">About the Talented Ball Collectors</a></li>
            <li><a href="{%url 'create_ball'%}">Add a Ball</a></li>
            <li><a href="{%url 'index'%}">Look at Our Balls!</a></li>
        </ul>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
      </main>
      <footer class="page-footer">
        <div>All Rights Reserved, &copy; 2024 Ball Collector &nbsp;</div>
      </footer>
</body>
</html>